* {
  box-sizing: border-box;
}

html {
  /* background: url("https://media.discordapp.net/attachments/1060993133191639130/1068303545918554163/sony-playstation-stars-1200x675.png?width=840&height=472") no-repeat center center fixed;  */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
  background: linear-gradient(to right, #031475 0%, #009ccb 50%, #031e75 100%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
}
