* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url("https://media.discordapp.net/attachments/1060993133191639130/1068303545918554163/sony-playstation-stars-1200x675.png?width=840&height=472");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
}
